body {
 border:25px;
 padding:20px

}
.main {
 font-size:40px;
 text-decoration: underline;
 text-align: center;
 color: brown;
 text-transform: capitalize;
}
.container {
 font-family: sans-serif;
 font-size: 14px;
 font-family: normal;
}